body {
    font-size:14px;
    line-height:24px;
    font-color:black;
    font-weight:bold;
    font-family: PT Sans;
}

h1 {
    font-size:30px;
    line-height:42px;
    font-color:black;
    font-weight:bold;
    font-family: PT Sans;
}

h2 {
    font-size:24px;
    line-height:30px;
    font-color:black;
    font-weight:bold;
    font-family: PT Sans;
}