body {
    font-size:14px;
    line-height:24px;
    color:black;
    font-weight:bold;
    font-family: "PT Sans Narrow", Sans-serif;
}
h1 {
    font-size:30px;
    line-height:42px;
    color:black;
    font-weight:bold;
}

h2 {
    font-size:24px;
    line-height:30px;
    color:black;
    font-weight:bold;
}

/*ДЛЯ ПОСТРОЕНИЯ СЕТКИ*/ 

body {
    min-width: 1200px;
    min-height: 1750px;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f5f2;
    background-size: 1173px auto;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.main-header {
    background-color: #black;
    margin-bottom:60px;
}

.container {
    width:960px;
    margin: 0 auto;
}

.main-navigation {
    float:left;
    width:780px;
}

.user-block {
    float:right;
    width:140px;
}
.main-container {
    width:960px;
    margin: 0 auto;
}

.second-navigation {
    display:block;
    width:960px;
    margin-bottom:60px;
}

.left-side {
    width:230px;
    float:left;
}

.right-side{
    width:730px;
    float:right;
}

.goods {
    width: 730px;
    font-size: 0px;
}

.product {
    width: 220px;
    height: 286px;
    background: white;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    line-height: 18px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2)
}

.pages {
    padding-left: 250px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.pages .button {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 43px;
    margin-right: 7px;
}

.button {
    display:inline-block;
    vertical-align:top;  
}

.footer-contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
}

.footer-social {
    float: left;
    width: 180px;
}

/*                    доработки items                 */

.pictures {
    margin-top:60px;
    width: 460px;
    float:left;
}

.picturessmall {
    float:left;
    padding-right:20px;
    padding-top: 20px;
}

.picturessmall:last-child {
    float:right;
    padding-right:0;
}

.right-column {
    margin-top:60px;
    float:right;
    width: 400px;
}

.main-footer{
    padding: 20px 0;
    clear: left;
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer-copyright {
    float: right;
    width: 180px;
}